parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

extensions:
	translation: Kdyby\Translation\DI\TranslationExtension

session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
